<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
</head>
<body>
    <h1 style="color: #ff9636">Contact Us</h1>
    <section class="contact">
        <!-- contact us info -->
        <div class="container">
            <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button>
            <h1 id="contactUs"> <em> Contact Us:</em></h1>
            <div class="names">
                <div class="bev">
                    <h2> <a href="https://github.com/BevBuCodes"> Beverly</a></h2>
                </div>
                <div class="brittney">
                    <h2> <a href="https://github.com/bvoncarr"> Brittney</a></h2>
                </div>
                <div class="corey">
                    <h2> <a href="https://github.com/coreycarmichael"> Corey</a></h2>
                </div>
            </div>
        </div>
    </section>
    </div>