<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
  </head>
<body>
  <h1 style="color: #ff9636">Tailgator Events Page</h1>
  <section class="events">
    select events
    <div id="events">
      <h1 class="infoSignup">Select Your Event</h1>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/basketball.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Warriors Tailgate</h5>
              <p class="card-text"> You don't want to miss this...</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Warriors vs. Lakers!</li>
              <li class="list-group-item">Start Time - 6:00 p.m.</li>
              <li class="list-group-item">Staples Arena</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/football.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dallas Cowboys Tailgate</h5>
              <p class="card-text"> You don't want to miss this...</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cowboys vs. Packers!</li>
              <li class="list-group-item">Start Time - 2:00 p.m.</li>
              <li class="list-group-item">AT&T Stadium</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/nicholas-green-nPz8akkUmDI-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">The Weeknd Tailgate</h5>
              <p class="card-text"> You don't want to miss this...</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">The Weeknd in Concert!</li>
              <li class="list-group-item">Start Time - 8:00 p.m.</li>
              <li class="list-group-item">Moody Center ATX</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button> -->
    </div>
  </section>



