<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Lato&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Tailgators</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    ${head}
</head>
<body>
    <div class="hero-image">
        <div class="hero-text" id="backToTop">
            <h1>Welcome to Tailgators</h1>
            <h2>We make it easy for you to tailgate</h2>
            <br>
            <h3>Select a tailgate <em>OR</em> create your own!</h3>
        </div>
    </div>
    <div class="buttons">

        <a class="btn btn-success btn-lg" href="#formInfo" role="button">Sign Up</a>
        <a  class="btn btn-success btn-lg" href="#formInfo" role="button">Create Tailgate</a>

    </div>
    <!-- Swiper -->
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/football.jpeg">
                <p>Football lover? We've got the tailgates!</p>
            </div>
            <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/basketball.jpg">
                <p> Prefer hoops to hits? No problem, basketball is life.</p>
            </div>
            <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/baseball.jpg">
                <p> Want to see them steal home? We've got that too!</p>
            </div>
            <div class="swiper-slide" style="height: 200px; width:auto;"> <img
                    src="/images/kipras-streimikis-00JuluDEK5w-unsplash.jpg">
                <p>More into music than sports? We've got you covered!</p>
            </div>
            <div class="swiper-slide" style="height: 200px; width:auto;"> <img
                    src="/images/nicholas-green-nPz8akkUmDI-unsplash.jpg">
                <p>Don't see what you want? Create your own tailgate and get gating!</p>
            </div>
        </div>
    </div>
    <br>

    </div>
    <!-- <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button> -->
   

    
    <body>
        <h1 style="color: #ff9636">Tailgator Signup Page</h1>
        <!-- sign up form -->
        <section class="signUp">
            <form action="/users/create" method="POST" name="signUpForm">
                <div class="container">
                    <div id="formInfo">
                        <h1 class="infoSignup">Tailgators: Sign Up</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label for="firstName"><b>First Name</b></label>
                        <input type="text" placeholder="First Name.." name="firstName" required>
                        <label for="lastName"><b>Last Name</b></label>
                        <input type="text" placeholder="Last Name.." name="lastName" required>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Email.." name="email" required>
                        <label for="location"><b>Location</b></label>
                        <input type="text" placeholder="Location.." name="location" required>
                    </div>
                    <br>
                    <div class="clearfix">
                        <a href="/users/create"><button type="submit" onclick="alert('Thanks for being a Tailgator!')"
                                class="signupbtn" id="alertThanks">Sign Up</button></a>
                        <button type="reset" class="cancelbtn">Cancel</button>
                    </div>
                    <button type="submit" class="toTop"> <a href="#hero" style="color: white;">Back to Top</a></button>
            </form>
        </section>
        <br>

 
    
    <br>
    
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/structure.js"></script>


    <!-- <script src="/views/routes/structure.js"></script> -->

</body>

</html>













