
${head}
    <!-- Navigation Bar -->
    <!-- <div class="nav">
        <ul id="hero">
            <li><img src="/images/tailgator.jpeg" alt="gator"></li>
            <li style="font-family: graduate">Tailgators</li>
            <li><a href="#home" id="navLinks">Home</a></li>
            <li><a href="#events" id="navLinks">Events</a></li>
            <li><a href="#contactUs" id="navLinks">Contact Us</a></li>
        </ul>
    </div> -->

    <div class="hero-image">
        <div class="hero-text" id="backToTop">
            <h1>Welcome to Tailgators</h1>
            <h2>We make it easy for you to tailgate</h2>
            <br>
            <h3>Select a tailgate <em>OR</em> create your own!</h3>
        </div>
    </div>

    <div class="buttons">
        <a class="btn btn-success btn-lg" href="#formInfo" role="button">Sign Up</a>
        <a class="btn btn-success btn-lg" href="#formInfo" role="button">Create Tailgate</a>
    </div>

<!-- Swiper -->
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/football.jpeg">
           <p>Football lover? We've got the tailgates!</p></div>

        <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/basketball.jpg">
           <p> Prefer hoops to hits? No problem, basketball is life.</p></div>

        <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/baseball.jpg">
           <p> Want to see them steal home? We've got that too!</p></div>

        <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/kipras-streimikis-00JuluDEK5w-unsplash.jpg"><p>More into music than sports? We've got you covered!</p></div>

        <div class="swiper-slide" style="height: 200px; width:auto;"> <img src="/images/nicholas-green-nPz8akkUmDI-unsplash.jpg"><p>Don't see what you want? Create your own tailgate and get gating!</p></div>
    </div>
</div>

    <!-- sign up form -->

    <section class="signUp">
        <form action="/users/create" method="POST" name="signUpForm">
            <div class="container">
                <div id="formInfo">
                    <h1 class="infoSignup">Tailgators: Sign Up</h1>
                    <p>Please fill in this form to create an account.</p>
                    <hr>

                    <label for="firstName"><b>First Name</b></label>
                    <input type="text" placeholder="First Name.." name="firstName" required>

                    <label for="lastName"><b>Last Name</b></label>
                    <input type="text" placeholder="Last Name.." name="lastName" required>


                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Email.." name="email" required>

                    <label for="location"><b>Location</b></label>
                    <input type="text" placeholder="Location.." name="location" required>
                </div>
                <!-- Interest Section -->
                <!-- <label for="interest" style="color: white; font-size: 20px;"><b>Please Select Your Sporting Interests</b></label>
                
                <br>
                <label for="interest1"><b>Football</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>
                
                <label for="interest1"><b>Basketball</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Baseball</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Hockey</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Soccer</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Boxing</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Tennis</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <br>

                <label for="interest" style="color: white; font-size: 20px;"><b>Please Select Your Music Interests</b></label>
                <br>

                <label for="interest1"><b>Country</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Pop</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Rap</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>R&B</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Heavy Metal</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Heavy Metal</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div>

                <label for="interest1"><b>Alternative Rock</b></label>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                </div> -->
                

                <br>

                <div class="clearfix">
                    <a href="/users/create"><button type="submit" class="signupbtn">Sign Up</button></a>
                    <button type="reset" class="cancelbtn">Cancel</button>

                </div>
                <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button>
        </form>
    </section>
    <br>

    <section class="createTg">
        <!-- create tailgate form -->
        <!-- there is no route for this form yet so i just put in create as the action -->
        <form action="/events/create" method="POST" name="createTgForm">
            <div class="container">
                <div id="formInfo">
                    <h1 class="infoSignup" style="color: #1d741b;">Tailgators: Create Your Event</h1>
                    <p>Please fill in this form to create your event.</p>
                    <hr>

                    <label for="eventName"><b>Event Name</b></label>
                    <input type="text" placeholder="Event Name.." name="eventName" required>

                    <label for="eventLocation"><b>Event Location</b></label>
                    <input type="text" placeholder="Event Location.." name="eventLocation" required>


                    <label for="eventDesc"><b>Event Description</b></label>
                    <input type="text" placeholder="Event Description.." name="email" required>
                    <br>
                    <label for="eventDesc"><b>BYOB</b></label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">No</label>
                    </div>
                </div>

                <div class="clearfix">
                    <a href="/events/create"><button type="submit" class="signupbtn">Create</button></a>
                    <button type="reset" class="cancelbtn">Cancel</button>

                </div>
                <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button>
            </div>
        </form>
    </section>
    <br>
    <section class="events">
        <!-- select events -->
        <div id="events">
            <h1 class="infoSignup">Select Your Event</h1>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/basketball.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warriors Tailgate</h5>
                            <p class="card-text"> You don't want to miss this...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Warriors vs. Lakers!</li>
                            <li class="list-group-item">Start Time - 6:00 p.m.</li>
                            <li class="list-group-item">Staples Arena</li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/football.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Dallas Cowboys Tailgate</h5>
                            <p class="card-text"> You don't want to miss this...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cowboys vs. Packers!</li>
                            <li class="list-group-item">Start Time - 2:00 p.m.</li>
                            <li class="list-group-item">AT&T Stadium</li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/nicholas-green-nPz8akkUmDI-unsplash.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">The Weeknd Tailgate</h5>
                            <p class="card-text"> You don't want to miss this...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">The Weeknd in Concert!</li>
                            <li class="list-group-item">Start Time - 8:00 p.m.</li>
                            <li class="list-group-item">Moody Center ATX</li>
                        </ul>
                    </div>
                   
                </div>
               
            </div>
            <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button>
        </div>

    </section>
    <br>
    <section class="contact">
        <!-- contact us info -->
        
        <div class="container">
            <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button>
            <h1 id="contactUs"> <em> Contact Us:</em></h1>
            <div class="names">
                <div class="bev">
                <h2> <a href="https://github.com/BevBuCodes"> Beverly</a></h2>
                </div>
                
                <div class="brittney">
                <h2> <a href="https://github.com/bvoncarr"> Brittney</a></h2>
                </div>

                <div class="corey">
                <h2> <a href="https://github.com/coreycarmichael"> Corey</a></h2>
                </div>
            </div>
           
        </div>
        
    </section>
    
    
    
    
    
    
    
    </div>
    </script>
   
    
    <script src="/views/routes/structure.js"></script>
    
    </body>
    
    </html>











