${head}
<div class="header">
    <h1 style="color: #ff9636">You Created a Tailgate!</h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/tailgating-5-595.jpeg" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">You Joined a Tailgate!</h5> -->
                    <p class="card-text"> You don't want to miss this...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">${event1.eventName}</li>
                    <li class="list-group-item hide">${event1.eventDescription}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/tailgator-fans.jpeg" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Dallas Cowboys Tailgate</h5> -->
                    <p class="card-text"> You don't want to miss this...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">${event2.eventName}</li> 
                    <li class="list-group-item hide">${event2.eventDescription}</li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/tailgate-party.jpeg" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">The Weeknd Tailgate</h5> -->
                    <p class="card-text"> You don't want to miss this...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">${event3.eventName}</li>
                    <li class="list-group-item hide">${event3.eventDescription}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <button type="submit" class="toTop"> <a href="#backToTop" style="color: white;">Back to Top</a></button> -->
</div>
</section>









    <!-- <h1>Join a Tailgate!!!</h1>
    <h3>${event1.eventName} : ${event1.eventDescription}</h3>
    <h3>${event2.eventName} : ${event2.eventDescription}</h3> -->

