<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
  </head>
  <body>
    <h1 style="color:#1D741B ">Tailgator Profile Page</h1>
    <!-- <div class="container" style="text-align: center;">
      <div class="row"> -->
        <!-- <div class="col-md-4 mb-4" style="text-align: center;"> -->
          <div class="card" style="width: 20rem; text-align: center; margin-left: 40%;">
            <img class="card-img-top" src="/images/basketball.jpg" alt="Card image cap">
            <div class="card-body"  style="text-align: center;">
              <!-- <h5 class="card-title"></h5> -->
              <p class="card-text"> You don't want to miss this...</p>
            </div>
            <form action="/profile/update/${user.id}" method="POST">
            <ul class="list-group list-group-flush">
              <li class="list-group-item hide">${user.id}</li>
              <!-- <li class="list-group-item">
                <input class="hide" type="text" name="id" id="id" value="${user.id}" >
              </li> -->
              <li class="list-group-item hide" id="firstNameLI">
                <input class="" type="text" name="firstName" id="firstName" placeholder="${user.firstName}" >
              </li>
              <li class="list-group-item hide" id="lastNameLI">
                <input class="" type="text" name="lastName" id="lastName" placeholder="${user.lastName}" >
              </li>
              <li class="list-group-item hide" id="emailLI">
                <input class="" type="text" name="email" id="email" placeholder="${user.email}" >
              </li>
              <li class="list-group-item hide" id="locationLI">
                <input class="" type="text" name="location" id="location" placeholder="${user.location}" >
              </li>
              <li class="list-group-item" id="name">
                <h4>${user.firstName} ${user.lastName}</h4>
              </li>
              <li class="list-group-item" id="userEmail">
                ${user.email}
              </li>
              <li class="list-group-item" id="userLocation">
                ${user.location}
              </li>
            </ul>
            <button class="btn btn-success btn-sm hide" id="tgUpdate" role="button" type="">Update Tailgator</button>
          </form>
          <button class="btn btn-success btn-sm" id="edit"><i class="bi bi-pencil-fill"></i> Edit Profile</button>
          </div>
        </div>
      </div>
</div>
<br>

     <div class="makeChanges">
      <h1>Danger Zone Delete Account</h1>
      <br>
       
      <form action="/profile/delete" method="POST">
        <input type="text" name="id" id="delete" class="hide" value="${user.id}">
        <button class="btn btn-danger btn-lg" role="button" >Delete Tailgator</button>
      </form>


    </div>
    <script src="/js/formUpdate.js"></script>
 </body>

