<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script> -->
        
            <title>${title}</title>
    </head>
<body>
    
<!-- Navigation Bar -->
<div class="nav">
    <ul id="hero">
        <li><img src="/images/tailgator.jpeg" alt="gator"></li>
        <li style="font-family: graduate">Tailgators</li>
        <li><a href="/" id="navLinks">Home</a></li>
        <li><a href="/views/routes/events.html" id="navLinks">Events</a></li>
        <li><a href="/routes/contactUs.html" id="navLinks">Contact Us</a></li>
    </ul>
</div>

<script type="module">
    import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 4500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
</script>

<!-- The script below may not be necessary i have an onclick event on the buttons themselves -->
<!-- <script>
    change console log to an alert once the test has been done to see if these work.
    var submitButton = document.getElementById('alertThanks');

        submitButton.addEventListener('click', function () {
            console.log('Thanks for signing up to be a Tailgator!')
        });

        var eventButton = document.getElementById('createEvent');

            eventButton.addEventListener('click', function () {
                console.log('Let the Tailgating Begin!')
            });
</script> -->