body {
    background-color: white ;
}

.bg-light {
 background-image: url(/client/images/tailgator.jpeg);
 background-repeat: no-repeat;
 background-color:transparent !important;
 float:left;
}

.display-4 {
  color: #FF9636;
  font-weight:900;
  padding-left: 150px;
  padding-bottom: 20px;
}


.action {
font-size: 40px;
  color: #1D741B;
  font-weight: 900;
  text-align:left
 
}

.buttons {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  
}

.nav {
  border-bottom: solid #FF9636;
  padding-bottom: 15px;
}

#navLinks {
   color: #FF8300;
}


h1 {
    font-family: 'Graduate', cursive;
    text-align: center;
}

p {
  font-family: 'Lato', sans-serif; 
  color: #FF8300;
}


.homePic {
    opacity: 0.5;
    height: 200px;
    width: auto;
    /* margin-top: 30px;
    text-align: center;
    width: 100%;
    height: auto; */
}

.footer {
   display: inline-block; 
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}


#logo {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* contact page specific */

.info {
    display: inline-table;
    padding-left: 25px;
    font-family: 'Leto', sans-serif;
    margin-top: 30px;
}

.contact {
    text-align: center;
}

/* sign up page specific */

* {box-sizing: border-box}

/* Full-width input fields */

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 8px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}