body, html {
    height: 100%;
    margin: 0;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/tailgate-pic4.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.display-4 {
  color: #FF9636;
  font-weight:900;
  padding-left: 150px;
  padding-bottom: 20px;
}

.buttons {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  
}

.nav {
  border-bottom: solid #FF9636;
  padding-bottom: 15px;
  
}

#navLinks {
   color: #FF8300;
}


h1, h2{
    font-family: 'Graduate', cursive;
    text-align: center;
    color: white;
}

h3 {
  font-family: 'Lato', sans-serif; 
  font-size: 35px;
  color: #FD7F20;
  text-align: center;
}

h4 {
  font-family: 'Lato', sans-serif; 
  color: #FD7F20;
  text-align: center;
}

p {
  color: #FF8300;
  font-family: 'Leto', sans-serif;
}

#userInfo {
  border-style: solid;
  border-color: #1d741b;

}

.names {
 margin-top: 15px;
}
/* 
.container {
  padding-right: 20px;

} */


.card {
  border: solid #1D741B;
}



.signUp {
  background-color: black;
  color: #FD7F20;
  margin-top: 15px;
}

.events {
  background-color: black;
}



#contactUs {
  display: inline;
  color:#1D741B;
}

/* contact page specific */

a {
  color: #FF8300;
}

a:hover {
  color:#1D741B;
}

/* sign up page specific */


#infoSignup {
color:#FF8300
}

.tgEvents {
  color: #FF8300;
}

#formInfo {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Leto', sans-serif;
  font-size: 20px;
}

.signupbtn {
  background-color:#1D741B;
  border-radius: 4px;
  color: white;
  font-family: 'Leto' sans-serif;
  font-size: 20px;
} 

.cancelbtn {
  background-color: #FF9636;
  border-radius: 4px;
  color: white;
  font-family: 'Leto' sans-serif;
  font-size: 20px;
}

.clearfix {
  padding-top: 25px;
  text-align: center;
}

/* create tailgate page specific css */
#createForm {
  color:#FF8300;
}

.toTop {
  font-family: 'Leto', sans-serif;
  font-weight:bold;
  padding: 5px;
  margin: 10px 10px 10px 10px;
  background-color:#1D741B;
  border-radius: 4px;
  float: right;
}

.makeChanges {
  font-family: 'Leto', sans-serif;
  font-size: 18px;
  border-style: solid;
  border-color: #FD7F20;
  color: #FD7F20;
  background-color: black;
  padding: 25px;
  margin: 15px 15px 15px 15px;
  text-align: center;
}

/* swiper css */

html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 50%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    /* @media screen and (max-width: 767px) {
            .mySwiper {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        } */
     